.idea
.vscode
vcpkg_installed
cmake-build-debug
cmake-build-release
*.o
*.obj
*.dll
*.exe
*.lib
*.pdb
*.a
*.so
*.dylib
*.pyc
*.pyo
*.swp
*.bak
*.tmp
*.log
*.out
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.tar.gz
*.tar.bz2